@model Product

<div class="border-box">
    
    @Html.DisplayNameFor(pr => pr.ProductId) ->
    @Html.DisplayFor(pr => pr.ProductId)
    <br />
    @Html.DisplayNameFor(pr => pr.ProductSellerName) ->
    @Html.DisplayFor(pr => pr.ProductSellerName)
    <br />
    @Html.DisplayNameFor(pr => pr.ProductPrice) ->
    @Html.DisplayFor(pr => pr.ProductPrice)
</div>

